<div class="w-full">

	<div>
		<h1 class="text-center pb-4">Tabs</h1>
		<h2 class="text-center pb-4">subtitle</h2>
	</div>

	<div class="flex flex-col -mx-3">
		<div class="img-wrapper mx-3">
			<img src="/content/themeclean/assets/images/jumbotron.jpg">
		</div>

		<div class="py-3 flex flex-col mx-3 lg:flex-grow">
			<!-- Tab Nav -->
			<div class="flex flex-wrap justify-center  pb-3" role="tablist">
				<a class="mx-2 no-underline p-3 cursor-pointer" role="tab">TabName1</a>
			</div>
			<!-- Tab Content -->

			<div class="relative">
				<div class="w-full py-3 opacity-0 transition-opacity" role="tabpanel">
						Nihil laborum aspernatur rerum harum ut eos consequatur incidunt. Modi vel inventore aut a. Porro sint doloribus. Sequi possimus
						quis fugit. Doloremque quam corporis voluptatibus voluptatem sunt eos distinctio magnam aperiam. Est ad voluptatem
						voluptate consequatur at magni qui id et.
				</div>
			</div>
		</div>
	</div>
</div>
