<div class="w-full">
  <div class="flex flex-col lg:flex-row justify-between">
    <a href="http://www.peregrine-cms.com">
      <img src="/assets/images/logo2.png" class="mb-3" alt="logo" style="height:6rem;">
    </a>

    <div class="footer-col flex-1 lg:mx-4">
      <h1 class="text-xl my-2">Address</h1>
      <div>
        1234 Street Name City, AA 1234
      </div>
    </div>

  </div>

  <hr class="border-b">
  <div class="flex justify-between">
    <p class="my-3">
      © Copyright 2017 Peregrine - All Rights Reserved
    </p>
    <themecleanflex-components-socialicons v-bind:model="model" />
  </div>

</div>
