@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */

/* Base Overrides */

html {
  @apply font-sans text-base;
}

h1 {
  @apply text-4xl font-semibold;
}
h2 {
  @apply text-3xl font-semibold;
}
h3 {
  @apply text-2xl font-semibold;
}
h4 {
  @apply text-xl font-semibold;
}
h5 {
  @apply text-lg font-semibold;
}
h6 {
  @apply text-lg;
}

a {
  @apply underline text-blue-700;
}
a:hover {
  @apply text-blue-800;
}

ul {
  @apply list-disc pl-5 py-2 m-0;
}

ol {
  @apply list-decimal pl-5 py-2 m-0;
}

p {
  @apply my-3;
}

.color-inherit {
  color: inherit;
}

.pipe-after:after {
  content: "|";
  @apply ml-2;
}

/* Custom Utilities */
.transform-rotate-90 {
  transform: rotate(90deg);
}

/* Themes */ 
.theme-dark {
  @apply text-gray-100 bg-black;
}
.theme-light {
  @apply text-black bg-gray-100;
}
.bg-dark {
  @apply bg-black;
}
.bg-light {
  @apply bg-white;
}
.text-dark {
  @apply text-black;
}
.text-light {
  @apply text-white;
}

/* Drop Shadow Helpers */
.elevation-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 10;
}
.elevation-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 10;
}
.elevation-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 10;
}
.elevation-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 10;
}
.elevation-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 10;
}

/* Buttons */
.btn {
  @apply font-bold py-2 px-4 rounded no-underline;
  transition: background-color 0.2s ease;
}
.btn:focus {
  @apply outline-none shadow-outline;
}
.btn:hover {
  @apply text-white;
}

.btn-lg {
  @apply py-4 px-5 text-lg
}
.btn-sm {
  @apply py-2 px-2 text-sm
}
.btn-blue {
  @apply bg-blue-700 text-white;
}
.btn-blue:hover {
  @apply bg-blue-800;
}
.btn-green {
  @apply bg-green-700 text-white;
}
.btn-green:hover {
  @apply bg-green-800;
}
.btn-red {
  @apply bg-red-700 text-white;
}
.btn-red:hover {
  @apply bg-red-800;
}
.btn-orange {
  @apply bg-orange-700 text-white;
}
.btn-orange:hover {
  @apply bg-orange-800;
}
.btn-white {
  @apply bg-white text-black;
}
.btn-white:hover {
  @apply bg-black text-white;
}
.btn-black {
  @apply bg-black text-white;
}
.btn-black:hover {
  @apply bg-gray-800;
}

.media-sizeable {
  flex-shrink: 1 !important;
}
@media (min-width: 768px){
  .media-sizeable {
    flex-shrink: 0 !important;
  }
}

/* Colors */
:root {
  --color-gray-100: #f7fafc;
  --color-gray-200: #edf2f7;
  --color-gray-300: #e2e8f0;
  --color-gray-400: #cbd5e0;
  --color-gray-500: #a0aec0;
  --color-gray-600: #718096;
  --color-gray-700: #4a5568;
  --color-gray-800: #2d3748;
  --color-gray-900: #1a202c;
;
  --color-red-100: #fff5f5;
  --color-red-200: #fed7d7;
  --color-red-300: #feb2b2;
  --color-red-400: #fc8181;
  --color-red-500: #f56565;
  --color-red-600: #e53e3e;
  --color-red-700: #c53030;
  --color-red-800: #9b2c2c;
  --color-red-900: #742a2a;
  ;
  --color-orange-100: #fffaf0;
  --color-orange-200: #feebc8;
  --color-orange-300: #fbd38d;
  --color-orange-400: #f6ad55;
  --color-orange-500: #ed8936;
  --color-orange-600: #dd6b20;
  --color-orange-700: #c05621;
  --color-orange-800: #9c4221;
  --color-orange-900: #7b341e;
;
  --color-yellow-100: #fffff0;
  --color-yellow-200: #fefcbf;
  --color-yellow-300: #faf089;
  --color-yellow-400: #f6e05e;
  --color-yellow-500: #ecc94b;
  --color-yellow-600: #d69e2e;
  --color-yellow-700: #b7791f;
  --color-yellow-800: #975a16;
  --color-yellow-900: #744210;
;
  --color-green-100: #f0fff4;
  --color-green-200: #c6f6d5;
  --color-green-300: #9ae6b4;
  --color-green-400: #68d391;
  --color-green-500: #48bb78;
  --color-green-600: #38a169;
  --color-green-700: #2f855a;
  --color-green-800: #276749;
  --color-green-900: #22543d;
;
  --color-teal-100: #e6fffa;
  --color-teal-200: #b2f5ea;
  --color-teal-300: #81e6d9;
  --color-teal-400: #4fd1c5;
  --color-teal-500: #38b2ac;
  --color-teal-600: #319795;
  --color-teal-700: #2c7a7b;
  --color-teal-800: #285e61;
  --color-teal-900: #234e52;
;
  --color-blue-100: #ebf8ff;
  --color-blue-200: #bee3f8;
  --color-blue-300: #90cdf4;
  --color-blue-400: #63b3ed;
  --color-blue-500: #4299e1;
  --color-blue-600: #3182ce;
  --color-blue-700: #2b6cb0;
  --color-blue-800: #2c5282;
  --color-blue-900: #2a4365;
;
  --color-indigo-100: #ebf4ff;
  --color-indigo-200: #c3dafe;
  --color-indigo-300: #a3bffa;
  --color-indigo-400: #7f9cf5;
  --color-indigo-500: #667eea;
  --color-indigo-600: #5a67d8;
  --color-indigo-700: #4c51bf;
  --color-indigo-800: #434190;
  --color-indigo-900: #3c366b;
;
  --color-purple-100: #faf5ff;
  --color-purple-200: #e9d8fd;
  --color-purple-300: #d6bcfa;
  --color-purple-400: #b794f4;
  --color-purple-500: #9f7aea;
  --color-purple-600: #805ad5;
  --color-purple-700: #6b46c1;
  --color-purple-800: #553c9a;
  --color-purple-900: #44337a;
;
  --color-pink-100: #fff5f7;
  --color-pink-200: #fed7e2;
  --color-pink-300: #fbb6ce;
  --color-pink-400: #f687b3;
  --color-pink-500: #ed64a6;
  --color-pink-600: #d53f8c;
  --color-pink-700: #b83280;
  --color-pink-800: #97266d;
  --color-pink-900: #702459;
}

.VueCarousel-pagination {
  @apply absolute bottom-0 mb-4 pointer-events-none;
}

.VueCarousel-dot-container {
  @apply pointer-events-auto;
}

/* purgecss end ignore */
