@import './colors.css';
@import './custom.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */


/* Base Overrides */

html {
  @apply font-sans text-base;
}

.enlarge-text h1 {
  @apply text-5xl font-semibold;
}
.enlarge-text h2 {
  @apply text-4xl font-semibold;
}
.enlarge-text h3 {
  @apply text-3xl font-semibold;
}
.enlarge-text h4 {
  @apply text-2xl font-semibold;
}
.enlarge-text h5 {
  @apply text-xl font-semibold;
}
.enlarge-text h6 {
  @apply text-xl;
}
.enlarge-text p {
  @apply text-lg;
}

.enlarge-text .text-5xl {
  @apply text-6xl font-semibold;
}
.enlarge-text .text-4xl {
  @apply text-5xl font-semibold;
}
.enlarge-text .text-2xl {
  @apply text-4xl font-semibold;
}
.enlarge-text .text-2xl {
  @apply text-3xl font-semibold;
}
.enlarge-text .text-xl {
  @apply text-2xl font-semibold;
}
.enlarge-text .text-lg {
  @apply text-xl;
}


h1 {
  @apply text-4xl font-semibold;
}
h2 {
  @apply text-3xl font-semibold;
}
h3 {
  @apply text-2xl font-semibold;
}
h4 {
  @apply text-xl font-semibold;
}
h5 {
  @apply text-lg font-semibold;
}
h6 {
  @apply text-lg;
}



a {
  @apply underline text-blue-700;
}
a:hover {
  @apply text-blue-800;
}

ul {
  @apply list-disc pl-5 py-2 m-0;
}

ol {
  @apply list-decimal pl-5 py-2 m-0;
}

p {
  @apply my-3;
}

.color-inherit {
  color: inherit;
}

.pipe-after:after {
  content: "|";
  @apply ml-2;
}

/* Custom Utilities */
.transform-rotate-90 {
  transform: rotate(90deg);
}

/* Themes */ 
.theme-dark {
  @apply text-gray-100 bg-black;
}
.theme-light {
  @apply text-black bg-gray-100;
}
.bg-dark {
  @apply bg-black;
}
.bg-light {
  @apply bg-white;
}
.text-dark {
  @apply text-black;
}
.text-light {
  @apply text-white;
}

/* Drop Shadow Helpers */
.elevation-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 10;
}
.elevation-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 10;
}
.elevation-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 10;
}
.elevation-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 10;
}
.elevation-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 10;
}

/* Buttons */
.btn {
  @apply font-bold py-2 px-4 rounded no-underline;
  transition: background-color 0.2s ease;
}
.btn:focus {
  @apply outline-none shadow-outline;
}
.btn:hover {
  @apply text-white;
}

.btn-lg {
  @apply py-4 px-5 text-lg
}
.btn-sm {
  @apply py-2 px-2 text-sm
}
.btn-blue {
  @apply bg-blue-700 text-white;
}
.btn-blue:hover {
  @apply bg-blue-800;
}
.btn-green {
  @apply bg-green-700 text-white;
}
.btn-green:hover {
  @apply bg-green-800;
}
.btn-red {
  @apply bg-red-700 text-white;
}
.btn-red:hover {
  @apply bg-red-800;
}
.btn-orange {
  @apply bg-orange-700 text-white;
}
.btn-orange:hover {
  @apply bg-orange-800;
}
.btn-white {
  @apply bg-white text-black;
}
.btn-white:hover {
  @apply bg-black text-white;
}
.btn-black {
  @apply bg-black text-white;
}
.btn-black:hover {
  @apply bg-gray-800;
}

.media-sizeable {
  flex-shrink: 1 !important;
}
@media (min-width: 768px){
  .media-sizeable {
    flex-shrink: 0 !important;
  }
}


.VueCarousel-pagination {
  @apply absolute bottom-0 mb-4 pointer-events-none;
}

.VueCarousel-dot-container {
  @apply pointer-events-auto;
}

/* purgecss end ignore */
