aemdc-files/
target/
core/target/
ui.apps/target/
ui.apps/approved/
**/bin

*.iml
*DoNotIncludeInGit.*
.classpath

.project
.settings/

!sling/auth
sling/!auth
out
npm-debug.log


.DS_Store
node
node_modules
fragment-viewer
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ui.apps/.factorypath

# eclipse related
.classpath
.project
.settings
**/.classpath
**/.project
**/.settings
