/* default palette */

#peregrine-app {
  /* NONE definitions to overwrite :root vars */
}

#peregrine-app .theme-light {
  --bg-primary-color: var(--color-gray-100);
  --bg-secondary-color: #ffffff;

  --text-primary-color: var(--color-gray-800);
  --text-secondary-color: var(--color-gray-600);

  --border-primary-color: var(--color-gray-300);

  --link-primary-color: var(--text-primary-color);
  --link-primary-color-hover: #000000;

  --btn-primary-bg: #585858;
  --btn-primary-color: #ffffff;

  --figcaption-primary-bg: #ffffff99;
}

#peregrine-app .theme-dark {
  --bg-primary-color: var(--color-gray-900);
  --bg-secondary-color: var(--color-gray-800);

  --text-primary-color: var(--color-gray-200);
  --text-secondary-color: var(--color-gray-400);

  --border-primary-color: var(--color-gray-900);

  --link-primary-color: var(--text-primary-color);
  --link-primary-color-hover: #ffffff;

  --btn-primary-bg: #e4e4e4;
  --btn-primary-color: #000000;

  --figcaption-primary-bg: #00000080;
}
