/* default palette */

#peregrine-app {
  /* NONE definitions to overwrite :root vars */
}

#peregrine-app .theme-light {
  --bg-primary-color: var(--color-gray-100);
  --bg-secondary-color: #ffffff;

  --text-primary-color: var(--color-gray-800);
  --text-secondary-color: var(--color-gray-600);

  --border-primary-color: var(--color-gray-300);

  --link-primary-color: #007bff;

  --figcaption-primary-bg: rgba(255, 255, 255, .6);
}

#peregrine-app .theme-dark {
  --bg-primary-color: var(--color-gray-900);
  --bg-secondary-color: var(--color-gray-800);

  --text-primary-color: var(--color-gray-200);
  --text-secondary-color: var(--color-gray-400);

  --border-primary-color: var(--color-gray-900);

  --link-primary-color: var(--color-blue-700);

  --figcaption-primary-bg: rgba(0, 0, 0, .5);
}
