/* lime palette */

#peregrine-app {
  /* NONE definitions to overwrite :root vars */
}

#peregrine-app .theme-dark{
  --bg-primary-color: var(--color-green-900);
  --bg-secondary-color: var(--color-green-800);

  --text-primary-color: var(--color-gray-200);
  --text-secondary-color: var(--color-gray-400);

  --border-primary-color: var(--color-green-700);

  --link-primary-color: #ffffff;
  --link-primary-color-hover: var(--color-green-200);

  --btn-primary-bg: #b4b4b4;
  --btn-primary-color: #000000;

  --figcaption-primary-bg: #00800080;
}

#peregrine-app .theme-light {
  --bg-primary-color: var(--color-green-300);
  --bg-secondary-color: var(--color-green-200);

  --text-primary-color: #000000;
  --text-secondary-color: var(--color-gray-600);

  --border-primary-color: var(--color-green-300);

  --btn-primary-bg: #6a6b69e7;
  --btn-primary-color: #ffffff;

  --link-primary-color: #000000;
  --link-primary-color-hover: #ffffff;

  --figcaption-primary-bg: #8efd8e4d;
}