<div class="flex flex-wrap -mx-3">

  <div class="card my-3 px-0 md:px-3">
    <div class="flex flex-col h-full overflow-hidden">
      <div class="self-center">
        <img class="my-3" src="/assets/images/015.jpg" alt="logo">
      </div>

      <div class="flex flex-grow flex-col justify-between p-0">
        <div>
          <h2 class="text-lg my-3">Odit</h2>
          <div class="my-3">
            Maxime aperiam tempora sunt reprehenderit sapiente. Odit perspiciatis itaque sed. Dolores est et. Saepe cum libero eius. Qui omnis omnis. In vero delectus molestiae eum optio.
          </div>
        </div>
        <a href="#" class="btn self-center my-3">Click Me</a>
      </div>

    </div>
  </div>

</div>
