/* default light palette */

:root {
  --bg-color: var(--color-gray-100);

  --text-color-primary: var(--color-gray-800);
  --text-color-dark: #343a40;

  --link-color-primary: #007bff;

  --btn-bg-color-primary: var(--color-blue-600);
  --btn-bg-color-secondary: var(--color-gray-200);
  --btn-bg-color-success: var(--color-green-600);
  --btn-bg-color-danger: var(--color-red-600);
  --btn-bg-color-warning: var(--color-orange-600);

  --btn-text-color: #ffffff;

  --border-color: var(--color-gray-300);
}

#peregrine-app {
  background-color: var(--bg-color);
  color: var(--text-color-primary)
}

#peregrine-app * {
  border-color: var(--border-color);
}

#peregrine-app .btn {
  color: var(--btn-text-color);
}

#peregrine-app .btn.btn-primary {
  background-color: var(--btn-bg-color-primary);
}

#peregrine-app .btn.btn-secondary {
  color: var(--text-color-dark);
  background-color: var(--btn-bg-color-secondary);
  border-width: 1px;
}

#peregrine-app .btn.btn-success {
  background-color: var(--btn-bg-color-success);
}

#peregrine-app .btn.btn-danger {
  background-color: var(--btn-bg-color-danger);
}

#peregrine-app .btn.btn-warning {
  background-color: var(--btn-bg-color-warning);
}