<div class="w-full">
	<ul class="root">
		<li class="root">
			<a href="">Sub Page 1</a>
			<div class="reference">references</div>
			<ul class="ml-2">
				<li class="children ml-2">
					<a href="">Page 1</a>
					<div class="reference">references</div>
					<ul class="nested">
						<li>
							<a href="">Sub Page 1</a>
							<div class="reference">references</div>
						</li>
						<li>
							<a href="">Sub Page 1</a>
							<div class="reference">references</div>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="noroot">
		<li class="childrennoroot ml-2">
			<a href="">Page 1</a>
			<div class="reference">references</div>
			<ul class="nestednoroot">
				<li>
					<a href="">Sub Page 1</a>
					<div class="reference">references</div>
				</li>
				<li>
					<a href="">Sub Page 1</a>
					<div class="reference">references</div>
				</li>
			</ul>
		</li>
	</ul>
</div>
