<ul class="list-reset">
    <li class="list-reset"><a href="">Sub Page 1</a>
        <ul>
            <li class=""><a href="">Page 1</a>
                <ul class="">
                    <li><a href="">Sub Page 1</a></li>
                    <li><a href="">Sub Page 1</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<ul class="">
    <li class=""><a href="">Page 1</a>
        <ul class="">
            <li><a href="">Sub Page 1</a></li>
            <li><a href="">Sub Page 1</a></li>
        </ul>
    </li>
</ul>
