<nav class="flex md:flex-row flex-col z-10 w-full">
  <div class="flex flex-col dropdown-container">
    <div class="flex justify-between md:justify-start items-center md:items-start">
      <a class="p-3 no-underline"></a>
      <svg width="16" height="16" viewBox="0 0 16 16" focusable="false"
        class="block md:hidden transition-transform duration-150 ease-in-out m-3 cursor-pointer">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.293 4.29291L14.7072 5.70712L8.00008 12.4142L1.29297 5.70712L2.70718 4.29291L8.00008 9.5858L13.293 4.29291Z"
          />
      </svg>
    </div>
    <div class="self-stretch relative transition-height duration-200 ease-in-out overflow-hidden md:overflow-unset">
      <div class="flex flex-col dropdown-list relative md:absolute">
        <a href="" class="p-3 no-underline"></a>
      </div>
    </div>
  </div>
</nav>
