<nav class="flex flex-col z-10 w-full">
  <ul class="flex flex-col">
      <li class="children ml-2 relative dropdown-container">
          <div class="flex justify-between lg:justify-start items-center lg:items-start">
            <a class="p-3 no-underline flex-grow cursor-pointer" href="">Sub Page 1</a>
            <svg width="16" height="16" viewBox="0 0 16 16" focusable="false"
            class="block lg:hidden transition-transform duration-150 ease-in-out m-3 md:ml-0 cursor-pointer min-w-16px">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.293 4.29291L14.7072 5.70712L8.00008 12.4142L1.29297 5.70712L2.70718 4.29291L8.00008 9.5858L13.293 4.29291Z"
              />
            </svg>
          </div>
          <ul class="flex flex-col nested dropdown-list">
              <li>
                  <div class="flex justify-between lg:justify-start items-center lg:items-start dropdown-container">
                    <a class="p-3 no-underline flex-grow cursor-pointer" href="">Sub Page 1</a>
                    <svg width="16" height="16" viewBox="0 0 16 16" focusable="false"
                    class="block lg:hidden transition-transform duration-150 ease-in-out m-3 md:ml-0 cursor-pointer min-w-16px">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.293 4.29291L14.7072 5.70712L8.00008 12.4142L1.29297 5.70712L2.70718 4.29291L8.00008 9.5858L13.293 4.29291Z"
                      />
                    </svg>
                  </div>
              </li>
              <li>
                  <div class="flex justify-between lg:justify-start items-center lg:items-start dropdown-container">
                    <a class="p-3 no-underline flex-grow cursor-pointer" href="">Sub Page 1</a>
                    <svg width="16" height="16" viewBox="0 0 16 16" focusable="false"
                    class="block lg:hidden transition-transform duration-150 ease-in-out m-3 md:ml-0 cursor-pointer min-w-16px">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.293 4.29291L14.7072 5.70712L8.00008 12.4142L1.29297 5.70712L2.70718 4.29291L8.00008 9.5858L13.293 4.29291Z"
                      />
                    </svg>
                  </div>
              </li>
          </ul>
      </li>
  </ul>
</nav>
