
<div>

  <ol class="text-center flex">
    <li data-target="#content-n5e0e4a6a-ffcd-4b70-a279-8e99f9c5b2f4" data-slide-to="0"></li>
    <li data-target="#content-n5e0e4a6a-ffcd-4b70-a279-8e99f9c5b2f4" data-slide-to="1" class=""></li>
    <li data-target="#content-n5e0e4a6a-ffcd-4b70-a279-8e99f9c5b2f4" data-slide-to="2" class="active"></li>
  </ol>

  <div class="">
    <div class="">
      <div class="flex flex-column justify-center">
        <img class="" src="/content/assets/themeclean/images/background1.jpg">
      </div>
      <div class="percms-carousel-text p-3">
        <h3>Slide One</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
    </div>
  </div>

  <a>
    <div>
      <span class="carousel-control-prev-icon"></span>
    </div>
  </a>
  <a>
    <div>
      <span class="carousel-control-next-icon"></span>
    </div>
  </a>

</div>
