  <carousel class="w-full">
    <slide>
      <div class="relative overflow-hidden flex flex-col justify-center">
        <a class="absolute inset-0 z-10"></a>
        <v-lazy-image class="absolute top-0 w-full h-full object-center" src="/content/assets/themecleanflex/samples/background1.jpg"></v-lazy-image>
        <figcaption class="relative w-full h-full flex flex-col justify-center items-center text-lg font-medium"><div class="container"><div class="px-4 sm:px-0 sm:w-full md:w-4/5 lg:w-1/2">Caption</div></div></figcaption>
      </div>
    </slide>
  </carousel>
