/* default dark palette */

:root {
  --bg: var(--color-gray-900);


  --text-primary-color: var(--color-gray-200);


  --link-primary-color: var(--color-blue-700);


  --btn-text-color: #ffffff;

  --btn-secondary-bg: var(--color-gray-200);
  --btn-secondary-color: var(--color-gray-800);
  --btn-secondary-border-width: 1px;

  --btn-primary-bg: var(--color-blue-600);

  --btn-success-bg: var(--color-green-600);

  --btn-danger-bg: var(--color-red-600);

  --btn-warning-bg: var(--color-orange-600);


  --border-primary-color: var(--color-gray-300);

}
