/* default light palette */

:root {
  --bg: var(--color-gray-100);


  --text-primary-color: var(--color-gray-800);


  --link-primary-color: #007bff;


  --btn-text-color: #ffffff;

  --btn-secondary-bg: var(--color-gray-200);
  --btn-secondary-color: #343a40;
  --btn-secondary-border-width: 1px;

  --btn-primary-bg: var(--color-blue-600);

  --btn-success-bg: var(--color-green-600);

  --btn-danger-bg: var(--color-red-600);

  --btn-warning-bg: var(--color-orange-600);


  --border-primary-color: var(--color-gray-300);
}
