/* takes loaded vars and styles the page ONLY USE VARS FOR COLORS HERE! */
#peregrine-app {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

#peregrine-app * {
  border-color: var(--border-primary-color);
  color: var(--text-primary-color);
}

#peregrine-app .btn {
  color: var(--btn-text-color);
}

#peregrine-app .btn.btn-primary {
  background-color: var(--btn-primary-bg);
}

#peregrine-app .btn.btn-secondary {
  border-width: var(--btn-secondary-border-width) !important;
}

#peregrine-app .btn.btn-secondary {
  color: var(--btn-secondary-color) !important;
  background-color: var(--btn-secondary-bg) !important;
  border-color: var(--btn-secondary-boder-color) !important;
}

#peregrine-app .btn.btn-success {
  background-color: var(--btn-success-bg) !important;
}

#peregrine-app .btn.btn-danger {
  background-color: var(--btn-danger-bg) !important;
}

#peregrine-app .btn.btn-warning {
  background-color: var(--btn-warning-bg) !important;
}

#peregrine-app a:not(.btn) {
  color: var(--text-secondary-color);
}

#peregrine-app .card > .flex-col {
  background-color: var(--bg-secondary-color);
}

#peregrine-app .accordion-container {
  border-width: 1px;
  border-style: solid;
  background-color: var(--bg-secondary-color);
}

#peregrine-app .accordion-container > div {
  background-color: var(--bg-secondary-color) !important;
}

#peregrine-app .accordion-container > div {
  border-bottom-width: 1px;
  border-style: solid;
}

#peregrine-app svg {
  fill: var(--text-primary-color)
}

#peregrine-app .themecleanflex-components-carousel figcaption {
  background-color: var(--figcaption-primary-bg);
}

#peregrine-app .note-note,
#peregrine-app .note-note * {
  background-color: var(--note-note-bg);
  border-color: var(--note-note-border-color);
}

#peregrine-app .note-tip,
#peregrine-app .note-tip * {
  background-color: var(--note-tip-bg);
  border-color: var(--note-tip-border-color);
}

#peregrine-app .note-warning,
#peregrine-app .note-warning * {
  background-color: var(--note-warning-bg);
  border-color: var(--note-warning-border-color);
}

#peregrine-app .note-important,
#peregrine-app .note-important * {
  background-color: var(--note-important-bg);
  border-color: var(--note-important-border-color);
}

#peregrine-app .note-caution,
#peregrine-app .note-caution * {
  background-color: var(--note-caution-bg);
  border-color: var(--note-caution-border-color);
}