/* takes loaded vars and styles the page ONLY USE VARS HERE! */
#peregrine-app,
#peregrine-app .theme-light,
#peregrine-app .theme-dark {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

#peregrine-app .btn {
  color: var(--btn-text-color);
}

#peregrine-app .btn.btn-primary {
  background-color: var(--btn-primary-bg);
}

#peregrine-app .btn.btn-secondary {
  color: var(--btn-secondary-color);
  background-color: var(--btn-secondary-bg);
  border-width: var(--btn-secondary-border-width);
  border-color: var(--btn-secondary-boder-color)
}

#peregrine-app .btn.btn-success {
  background-color: var(--btn-success-bg);
}

#peregrine-app .btn.btn-danger {
  background-color: var(--btn-danger-bg);
}

#peregrine-app .btn.btn-warning {
  background-color: var(--btn-warning-bg);
}

#peregrine-app a:not(.btn),
#peregrine-app .theme-light a:not(.btn),
#peregrine-app .theme-dark a:not(.btn) {
  color: var(--text-secondary-color);
}

#peregrine-app .card > .flex-col {
  background-color: var(--bg-secondary-color)
}
