<div>
    <table class="w-full border">
        <thead>
            <tr>
                <th class="flex">
                    <span>Column1 Header</span>
                    <svg width="16" height="16" viewBox="0 0 16 16" focusable="false" class="transition-transform duration-150 ease-in-out">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.293 4.29291L14.7072 5.70712L8.00008 12.4142L1.29297 5.70712L2.70718 4.29291L8.00008 9.5858L13.293 4.29291Z"/>
                    </svg>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Column1 item1</td>
                <td>Column2 item1</td>
            </tr>

            <tr>
                <td>Column1 item2</td>
                <td>Column2 item2</td>
            </tr>
        </tbody>
        <caption></caption>
    </table>
</div>