<div class="w-full flex flex-col align-items-center">
	<div class="flex flex-col mb-3">
		<div class="">
			<h1 class="text-4xl font-black leading-tight mb-3">Peregrine blocks</h1>
			<h2 class="text-xl font-bold mb-3">Et architecto autem tenetur provident ea exercitationem enim.</h2>
			<p class="text-lg font-bold text-gray-700">Eligendi fugit asperiores et. Corrupti voluptatum quasi sit. Adipisci ut voluptatem necessitatibus cumque aspernatur.</p>
		</div>
	</div>
	<div class="flex flex-wrap p-0 -mx-2">
		<a href="#" class="m-2">Click for more</a>
	</div>
</div>
