<div class="w-full">
	<h2 class="text-xl text-center pb-4">Toggle with media</h2>

	<div class="flex flex-col -mx-3 flex-grow">

		<div class="img-wrapper px-0 md:px-3">
			<img src="/content/themeclean/assets/images/jumbotron.jpg">
		</div>

		<div class="accordion-container px-0 sm:mx-3 flex-grow overflow-hidden">
			<div>

				<a class="flex justify-between items-center p-3 cursor-pointer no-underline">
					<h3 class="text-lg">
						Toggle Title
					</h3>
					<svg width="16" height="16" viewBox="0 0 16 16">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M13.293 4.29291L14.7072 5.70712L8.00008 12.4142L1.29297 5.70712L2.70718 4.29291L8.00008 9.5858L13.293 4.29291Z"/>
					</svg>
				</a>

				<div class="card-content overflow-hidden transition-height" role="tabpanel">
					<div class="p-3">

					</div>
				</div>

			</div>
		</div>
	</div>
</div>
