	<!-- <div class="perIsEditAndEmpty">no content defined for component</div> -->
	<h2 class="text-center pb-4">Toggle with media</h2>

	<div class="flex">

		<div class="w-1/2">
			<img src="/assets/images/jumbotron.jpg">
		</div>

		<!-- Card Container -->
		<div class="w-1/2">
			<div class="pb-6">
				<a class="flex justify-between items-center pb-4">
					<h4>Toggle Title</h4>
					<i class="" aria-hidden="true">x</i>
				</a>
				<div class="" role="tabpanel">
					<div class="">Toggle content 1</div>
				</div>
			</div>

		</div>
	</div>
