<nav class="w-full">
  <div class="flex w-full justify-between items-center">
    <!-- Logo -->
    <a href="http://www.peregrine-cms.com">
      <img src="/assets/images/logo2.png" alt="logo" style="height: 3.8rem">
    </a>

    <!-- Collapsible Menu -->

    <div class="hidden md:flex justify-end">
      <div class="text-right"></div>
      <div></div>
    </div>

    <div class="font-bold text-xl cursor-pointer block md:hidden transform-rotate-90">|||</div>

  </div>

  <div class="flex flex-col w-full transition-height">
    <div ref="autoHeight" class="p-4">
      <div class="text-right"></div>
      <div></div>
    </div>
  </div>

</nav>
