<nav class="w-100">
  <!-- Logo -->
  <span class="navbar-logo">
   <a href="http://www.peregrine-cms.com">
    <img class="menu-logo" src="/assets/images/logo2.png" alt="logo" style="height: 3.8rem">
   </a>
  </span>

  <!-- Hamburger toggle button -->
  <button class="">
    <span class=""></span>
  </button>

  <!-- Collapsible Menu -->
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <div class="textlink text-right"></div>
    <div class="menubutton"></div>
  </div>
</nav>
